	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/01/2018 07:36
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-fingerprint:before { content: "\f100"; }
.flaticon-policeman:before { content: "\f101"; }
.flaticon-computer:before { content: "\f102"; }
.flaticon-locked-internet-security-padlock:before { content: "\f103"; }
.flaticon-security-camera:before { content: "\f104"; }
.flaticon-house-security:before { content: "\f105"; }